<!DOCTYPE html>
<html lang="pt-BR">
<link rel="icon" href="./static/img/favicon.png">
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<script src="static/vendor/jquery/jquery.min.js"></script>

<head>
    <meta charset="utf-8" />
    <title>Login Obrigatório</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/index.min.css" rel="stylesheet">
</head>

<body style="background-color: #f2f2f2;">
    <div class="container-fluid">
        <div class="row" style="margin-top: 20vh;">
            <div class="col-12 col-xl-4 col-lg-5 col-md-6 col-sm-8 mx-auto">
                <div class="borda" style="background-color: #212529; height: 35vh; border-radius: 10px;">
                    <div class="row h-100">
                        <div class="col-8 mx-auto my-auto">
                            <div class="login-required">
                                <h1 class="mb-5" style="color: #fed136; text-align: center;">404</h1>
                                <h3 style="color: #fed136; text-align: justify;">Essa não é a página que você está
                                    procurando!</h3>
                                <button onclick="redirect()"
                                    class="btn btn-primary btn-block w-50 mx-auto mt-5">Home</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirect() {
            location.replace("/")
        }
    </script>

</body>

</html>