<!DOCTYPE html>
<html lang="pt-BR">
<link rel="icon" href="./static/img/favicon.png">
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<head>
    <meta charset="utf-8" />
    <title>Administração</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/index.min.css" rel="stylesheet">
</head>

<body style="background-color: #f2f2f2;">
    <div class="container textoBranco">
        <div class="bgDark" style="margin-top: 15vh;">
            <div><img class="logo2 centroImg" src="static/img/logo_del_vetro.png"></div>
            <h2 class="section-heading text-uppercase titulo-adm">ADMINISTRADOR DE CONTEÚDO</h2>
            <div class="row text-center div-button">
                <div class="marginbtn col-md-6 col-sm-12"><a class="btn btn-primary btn-xl text-uppercase textoBranco"
                        href="admin_produtos">PRODUTOS</a></div>
                <div class="marginbtn col-md-6 col-sm-12"><a class="btn btn-primary btn-xl text-uppercase textoBranco"
                        href="admin_aplicacoes">APLICAÇÕES</a></div>
            </div>
        </div>
    </div>
</body>

</html>