<!DOCTYPE html>
<html lang="pt-BR">
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<head>
    <meta charset="utf-8" />
    <title>Estrutura 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/index.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="./static/vendor/slick/slick-theme.css" />
</head>

<body>
    <section id="admProdutos" class="bg-light page-section">
        <div class="container">
            <h2 class="section-heading text-uppercase text-center" style="margin-bottom: 20px;">APLICAÇÕES</h2>
            <div>
                <a style="float: left" class="btn btn-primary btn-md textoBranco" href="admin"><i
                        class="fas fa-long-arrow-alt-left"></i> Voltar</a>
                <div style="float: right;" class="row">
                    <a class="btn btn-primary btn-md textoBranco" style="margin-right: 10px;"
                        href="adicionar_aplicacao.html"><i class="fas fa-plus-circle"></i> Adicionar</a>
                    <a class="btn btn-primary btn-md textoBranco" href="editar.html"><i class="fas fa-edit"></i>
                        Editar</a>
                </div>
            </div>
            <div style="margin-top:100px" id="" class="row"></div>
            <section class="page-section" id="aplicacoes">
                <div class="container slider" id="getAplicacoes">
                </div>
            </section>
        </div>
    </section>
    <div id="getModal"></div>
    <script src="./static/js/aplicacoes.min.js"></script>
    <!-- Bootstrap/Jquery -->
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="./static/js/jqBootstrapValidation.min.js"></script>
    <script src="./static/js/contact_me.min.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="./static/vendor/slick/slick.min.js"></script>

    <!-- Custom scripts -->
    <script src="./static/js/index.min.js"></script>
    <script src="./static/js/slick.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw4b8QAm2tKlnUrA0T-gp2IQSwde6uyqc&callback=initMap">
        </script>
</body>

</html>