<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mercato del Vetro</title>

    <link rel="icon" href="./static/img/favicon.png">

    <!-- Bootstrap -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='static/fonts/fonts.css' rel='stylesheet' type='text/css'>

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="static/vendor/slick/slick-theme.css" />

    <!-- CSS -->
    <link href="static/css/index.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark top mainNav page-section" id="mainNav">
        <div class="container">
            <a class="js-scroll-trigger" href="#orcamento"><img class="logo" id="logo"
                    src="static/img/logo_del_vetro.png"></a>
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" id="navbar-btn">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#orcamento">Orçamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#diferenciais">Diferenciais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#aplicacoes">Aplicações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#novidades">Novidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead" id="orcamento">
        <div class="dark">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Bem vindo à Del Vetro!</div>
                    <div class="intro-heading text-uppercase">Encomende seu vidro</div>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contato">Orçamento</a>
                </div>
            </div>
        </div>

    </header>


    <!-- Serviços -->
    <section class="page-section" id="diferenciais">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase no-sub">Por que a Del Vetro?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Qualidade</h4>
                    <p class="text-muted">Na <strong>Del Vetro</strong> visamos qualidade em primeiro lugar.<br><a
                            href="#qualidadeModal" data-toggle="modal" class="click-link">Saiba mais <i
                                class="fas fa-search-plus"></i></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-money-bill-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Preço</h4>
                    <p class="text-muted">Preços <strong>competitivos</strong> no mercado<br><a href="#precoModal"
                            data-toggle="modal" class="click-link">Saiba mais <i class="fas fa-search-plus"></i></a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-clock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tempo</h4>
                    <p class="text-muted">Tempo de entrega diferenciado para cada produto<br><a href="#tempoModal"
                            data-toggle="modal" class="click-link">Saiba mais <i class="fas fa-search-plus"></i></a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Vidros Grid -->
    <section class="bg-light page-section" id="produtos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Produtos</h2>
                    <h3 class="section-subheading text-muted">Conheça nossos produtos</h3>
                </div>
            </div>
            <div class="row" id="getProdutos">
            </div>
        </div>
    </section>

    <!-- Produtos -->
    <section class="page-section" id="aplicacoes">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Aplicações</h2>
            <h3 class="section-subheading text-muted">Como nossos produtos são utilizados</h3>
        </div>
        <div class="container slider" id="getAplicacoes">
        </div>
    </section>


    <!-- Sobre -->
    <section class="bg-light page-section" id="novidades">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase no-sub">Novidades</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="static/img/sobre/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Criação da Del Vetro</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum
                                        eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                                        unde, sed, incidunt et
                                        ea quo dolore laudantium consectetur!</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="static/img/sobre/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Junho 2018</h4>
                                    <h4 class="subheading">Novas Contratações</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum
                                        eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                                        unde, sed, incidunt et
                                        ea quo dolore laudantium consectetur!</p> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="static/img/sobre/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Novo Forno</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum
                                        eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
                                        unde, sed, incidunt et
                                        ea quo dolore laudantium consectetur!</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Texto
                                    <br>a determinar</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contato -->
    <section class="page-section" id="contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase no-sub">Contato</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6">

                            <h1 style="font-family: Montserrat; color: white; font-size: 30px"><i
                                    class="far fa-envelope"></i> Email</h1>
                            <p style="font-family: Roboto Slab; color: white; margin-bottom: 20px;">
                                contato@mercatodelvetro.com.br</p>
                            <h1 style="font-family: Montserrat; color: white; font-size: 30px"><i
                                    class="fas fa-tty"></i> Telefone</h1>
                            <p style="font-family: Roboto Slab; color: white; margin-bottom: 20px;">(11) 4766-4447</p>
                            <h1 style="font-family: Montserrat; color: white; font-size: 30px"><i
                                    class="fab fa-whatsapp"></i> WhatsApp</h1>
                            <p style="font-family: Roboto Slab; color: white;margin-bottom: 8px">(11) 94229-1635</p>
                            <p style="font-family: Roboto Slab; color: white; margin-bottom: 20px">(11) 94258-3525</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 padding-ajust">
                    <h1 style="font-family: Montserrat; color: white; font-size: 30px"><i
                            class="fas fa-map-marker-alt"></i> Localização</h1>
                    <p style="font-family: Roboto Slab; color: rgb(238, 234, 234); margin-bottom: 20px">Rua Indonésia, 298, Barueri,
                        Brasil
                        06408160</p>
                    <div id="map"></div>
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw4b8QAm2tKlnUrA0T-gp2IQSwde6uyqc&callback=initMap">
                        </script>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="footer-span">Copyright &copy; Mercato Del Vetro 2019</span>
                </div>
                <!--
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/mercatodelvetro/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/mercato.delvetro/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                -->
                <div class="col-md-6">
                    <span class="footer-span">Desenvolvimento <a href="">Marcello</a> e <a
                            href="https://www.linkedin.com/in/willianchan/">Willian</a> Powered by <a
                            href="https://maua.br/">MAUA</a></span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Vidros Modals -->

    <div id="getModal"></div>
    


    <!-- Bootstrap/Jquery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="static/vendor/slick/slick.min.js"></script>

    <!-- Custom scripts -->
    <script src="static/js/index.min.js"></script>
    <script src="static/js/slick.min.js"></script>

</body>

</html>